.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
}

.App::before {
  content: "";
  background: url(./img/pexels-dmitriymir-11107918.jpg) no-repeat center
    center/cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid#dadde1;
  border-radius: 5px;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

ul {
  list-style: none;
}

@media (max-width: 900px) {
}
