h1.temp {
  font-size: 64px;
  display: flex;
  position: relative;
  left: -110px;
  top: 30px;
}

small {
  position: relative;
  font-size: 16px;
  top: 10px;
  left: 2px;
}

@media (max-width: 900px) {
  h1.temp {
    font-size: 64px;
    display: flex;
    position: relative;
    left: 80px;
    top: -20px;
  }

  small {
    position: relative;
    font-size: 16px;
    top: 10px;
    left: 2px;
  }
}
